@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,800,900&display=swap');

*{
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.5px;
}

h1, h2, h3, h4{
    line-height: 1.5 !important;
}

body{
    /* Set padding left and right for iPhone X */
    padding-left: constant(safe-area-inset-left);
    padding-right: constant(safe-area-inset-right);
}

body.bg-light{
    background-color: #F2F2F2 !important;
}

button.btn, input.btn, a.btn{
    /* Pill buttons */  
    border-radius: 100px;
    transition: all 0.3s ease !important;
    box-shadow: 0px 2px 4px #aaa;
}

button.btn-primary, input.btn-primary, a.btn-primary{
    color: #ffffff !important;
    background-color:#FF6619;
    border-color: #FF6619;
    font-weight: bold;
}

button.btn-dark-primary, input.btn-dark-primary, a.btn-dark-primary{
    color: #ffffff;
    background-color:#FF742F;
    border-color: #FF742F;
    font-weight: bold;
    box-shadow: 0px 2px 4px #000 !important;
}

button.btn-lg, input.btn-lg, a.btn-lg{
    box-shadow: 0px 3px 5px #aaa;
    font-weight: bold;
    border-width: 3px;
}

button.btn:hover{
    text-decoration: none !important;
}

button.btn-primary:hover, a.btn-primary:hover, input.btn-primary:hover{
    background-color: #FA5E10;
    border-color: #FA5E10;
    box-shadow: 0px 3px 5px #aaa !important;
}

button.btn-primary:active, a.btn-primary:active, input.btn-primary:active{
    background-color: #F55809 !important;
    border-color: #F55809 !important;
    box-shadow: 0px 2px 3px #999 !important;
}

button.btn-primary:focus, a.btn-primary:focus, input.btn-primary:focus{
    background-color: #EB5306 !important;
    border-color: #EB5306 !important;
    box-shadow: 0px 2px 3px #999 !important;
}

button.btn-dark-primary:hover, a.btn-dark-primary:hover, input.btn-dark-primary:hover{
    background-color: #FF7D3C;
    border-color: #FF7D3C;
    color: white;
}

button.btn-dark-primary:active, a.btn-dark-primary:active, input.btn-dark-primary:active{
    background-color: #FF8245 !important;
    border-color: #FF8245 !important;
    color: white;
}

button.btn-dark-primary:focus, a.btn-dark-primary:focus, input.btn-dark-primary:focus{
    background-color: #FF8245 !important;
    border-color: #FF8245 !important;
}

button.btn-outline-primary, input.btn-outline-primary, a.btn-outline-primary{
    background-color: #ffffff;
    border-color: #FF6619;
    border-width: 3px;
    color: #FF6619;
    font-weight: bold;
}

button.btn-outline-secondary, input.btn-outline-secondary, a.btn-outline-secondary{
    background-color: #ffffff;
    border-color: #666666;
    border-width: 3px;
    color: #666666;
    font-weight: bold;
}

button.btn-outline-primary:hover, input.btn-outline-primary:hover, a.btn-outline-primary:hover{
    color: #ffffff;
    background-color:#FF6619;
    border-color: #FF6619;
    text-decoration: none !important;
    box-shadow: 0px 3px 5px #aaa !important;
}

button.btn-outline-primary:focus, input.btn-outline-primary:focus, a.btn-outline-primary:focus{
    color: #ffffff;
    background-color:#FA5E10 !important;
    border-color: #FA5E10 !important;
    text-decoration: none !important;
    box-shadow: 0px 2px 2px #bbb !important;
}

button.btn-outline-primary:active, input.btn-outline-primary:active, a.btn-outline-primary:active{
    color: #ffffff;
    background-color:#FA5E10 !important;
    border-color: #FA5E10 !important;
    text-decoration: none !important;
    box-shadow: 0px 2px 3px #999 !important;
}

button.btn-outline-secondary:hover{
    box-shadow: 0px 3px 5px #999 !important;
}


button.btn-outline-secondary:focus{
    box-shadow: 0px 2px 2px #999 !important;
}

button.btn-outline-secondary:active{
    box-shadow: 0px 2px 3px #777 !important;
}

p.text-dark, i.text-dark, h3.text-dark, label.text-dark, strong.text-dark, td.text-dark, h4.text-dark, h5.text-dark, h6.text-dark{
    color: #4D4D4D !important;
}

h1.text-light, h2.text-light, h3.text-light, h4.text-light, h5.text-light, label.text-light, strong.text-light, i.text-light, p.text-light{
    color: #BCBCBC !important;
}

h3.text-white, h4.text-white, h5.text-white, label.text-white, strong.text-white, i.text-white{
    color: #F2F2F2 !important;
}

.w-80{
    width: 80%;
}

.w-85{
    width: 85%;
}

.w-90{
    width: 90%;
}

.bg-left{
    background-color: #FF884D;
    min-height: 100vh;
    transform: skew(-4deg);
    left: -3%;
    border-radius: 0 0 100px 0;
}

label{
    font-weight: 600;
    font-size: 18px;
    color: #4D4D4D !important;
}

input.form-control, textarea.form-control{
    border-width: 0px;
    background-color: #F2F2F2;
}

input.form-control:focus, textarea.form-control:focus{
    border-color: #FF9966;
    border-width: 2px;
    box-shadow: 0px 0px 0px;
    background-color: #F2F2F2;
}

select.form-control{
    border-width: 0px;
    background-color: #F2F2F2;
}

select.form-control:focus{
    border-color: #FF9966;
    border-width: 2px;
    box-shadow: 0px 0px 0px;
    background-color: #F2F2F2;
}

a.text-primary, i.text-primary{
    color: #FF6619 !important;
}

a.text-primary:active{
    color: #FF7733 !important;
}

a.text-dark{
    color: #4D4D4D !important;
}

.show-password{
    border-width: 0px;
    background-color: #F2F2F2;
}

.show-password:active{
    border-width: 0px !important;
    box-shadow: 0px 0px 0px !important;
}

.show-password:focus{
    border-width: 0px !important;
    box-shadow: 0px 0px 0px !important;
}

.lift:hover{
    transform: translateY(-3px);
}

.text-bold{
    font-weight: bold;
}

.text-medium{
    font-weight: 600;
}

a.text-white{
    color: #F2F2F2;
}

a.text-white:hover, i.text-white:hover{
    color: #FF9966 !important;
}

p{
    line-height: 25px;
}

div.bg-primary{
    background-color: #FF6619 !important;
}

div.bg-light{
    background-color: #BCBCBC !important;
}

nav.bg-light{
    background-color: #F2F2F2 !important;
}

div.chapter{
    box-shadow: 0px 0px 10px #bbb;
}

div.chapter-bottom{
    background-color: #F2F2F2;
}

button.btn-link, a.btn-link{
    color: #4D4D4D !important;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 0px 0px 3px #bbb;
}

.link-lift:hover{
    text-shadow: 0px 2px 5px #aaa;
    transform: translateY(-2px);
}

ul.list-group.side-bar{
    box-shadow: 0px -1px 0px #707070;
    margin-bottom: 1px;
}

a.list-group-item-action.side-bar{
    border-width: 0px 0px 0px 10px;
    box-shadow: 0px 1px 0px #707070;
    margin-bottom: 2px;
}

a.list-group-item-action.side-bar:hover{
    border-color: #FF7733;
    color: #BCBCBC;
}

a.list-group-item-action.active.side-bar{
    border-color: #FF7733;
    border-top: 0px;
    color: #F2F2F2;
}

a.list-group-item.side-bar{
    background-color: #333333 !important;
    border-color: #333333;
    color: #BCBCBC;
    font-weight: 600;
}

button.dropdown-toggle{
    border-radius: 5px;
    border-width: 0px;
    height: 35px;
    font-weight: 600;
    text-align: left;
    color: #4D4D4D !important;
    background-color: white;
}

button.dropdown-toggle:active{
    box-shadow: 0px 0px 0px !important;
    border-radius: 0px;
    border-style: none;
}

a.dropdown-item{
    font-size: 17px;
}

a.dropdown-item.active, a.dropdown-item:hover{
    box-shadow: -4px 0px  #FF7733;
    background-color: #F2F2F2;
    overflow: hidden;
}

div.dropdown-menu{
    box-shadow: 0px 0px 8px #aaa;
    border-width: 0px;
}

div.dropdown-divider{
    box-shadow: -4px 0px #BCBCBC;
    border-color: #BCBCBC;
}

div.footer-icon{
    background-color: #666666;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display:flex;
    align-items:center;
    justify-content: center;
    font-size: 25px;
    transition: all .2s ease-in-out;
}

div.footer-icon:hover{
    transform: scale(1.15);
}

div.number-icon{
    background-color: #FF6619;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display:flex;
    align-items:center;
    justify-content: center;
    font-size: 22px;
    color: white;
    font-weight: 600;
}

a.footer-link{
    color: #F2F2F2;
}

a.footer-link:hover{
    color: #FF9966 !important;
    text-decoration: none !important;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.badge-primary{
    background-color: #FF6619 !important;
}

a.list-group-item.chapter{
    border: 0px;
}

div.tooltip-inner{
    color: #4D4D4D;
    background-color: white;
    border: 1px solid #4D4D4D;
    box-shadow: 0px 0px 5px #aaa;
}

input.form-check-input{
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
}

p.quiz-question{
    font-size: 17px;
    color: #4D4D4D;
}

label.quiz-option{
    font-size: 17px;
    font-weight: 400 !important;
    margin-bottom: 0px;
}

div.form-check{
    display: flex;
    align-items: center
}

p.text-secondary, small.text-secondary{
    color: #666666 !important;
}

.field_with_errors{
    width: auto;
}
.field_with_errors input{
    border-color: #dc3545 !important;
    border-width: 1px;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

div.header{
    background-color: white;
    border-color: #BCBCBC;
    border-width: 2px;
    border-style: solid;
    display:flex;
    align-items:center;
    justify-content: center;
    font-size: 19px;
    transition: all .2s ease-in-out;
    height: 45px;
}

div.header-left{
    border-radius: 10px 0px 0px 10px;
    width: 45px;
    color: #FF6619;
}

div.header-left:hover, div.header-right:hover{
    background-color: #FF6619;
    color: white;
}

div.header-right{
    border-radius: 0px 10px 10px 0px;
    width: 45px;
    color: #FF6619;
}

a.no-decoration{
    text-decoration: none !important;
}

div.free-plan-header{
    background-image: linear-gradient(to top right, #666666, #BCBCBC);
}

div.free-plan-body{
    border-style: solid;
    border-width: 0px 1px 1px 1px; /* 0px top, 2px right, bottom and left */
    border-color: #666666;
}

div.premium-plan-header{
    background-image: linear-gradient(to top right, #242424, #666666);
}

div.premium-plan-body{
    border-style: solid;
    border-width: 0px 1px 1px 1px; /* 0px top, 2px right, bottom and left */
    border-color: #242424;
}

div.card.faq{
    border-width: 0px;
}

div.card-header.faq{
    background-color: #F2F2F2;
    border-width: 0px;
    border-radius: 0px;
}

div.card-body.faq{
    text-align: justify;
    background-color: #F2F2F2;
    border-top: 1px solid #BCBCBC;
    color: #4D4D4D;
}

.no-underline:hover{
    text-decoration: none !important;
}

div.price-card{
    background-color: white;
    max-width: 250px;
    border-radius: 25px;
}

p.small{
    color: #4D4D4D;
    font-size: 15px;
    line-height: 20px;
}