@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,800,900&display=swap');

*{
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.5px;
}

body{
    /* Set padding left and right for iPhone X */
    padding-left: constant(safe-area-inset-left);
    padding-right: constant(safe-area-inset-right);
}

button.btn, input.btn, a.btn{
    /* Pill buttons */  
    border-radius: 100px;
}

button.btn-primary, input.btn-primary, a.btn-primary{
    color: #ffffff;
    background-color:#FF6619;
    border-width: 3px;
    border-color: #FF6619;
    font-weight: bold;
}

button.btn-lg, input.btn-lg, a.btn-lg{
    box-shadow: 0px 3px 5px #bbb;
}

button.btn:hover{
    text-decoration: none !important;
}

button.btn-primary:hover{
    background-color: #FA5E10;
    border-color: #FA5E10;
}

button.btn-primary:active{
    background-color: #F55809 !important;
    border-color: #F55809 !important;
    box-shadow: 0px 2px 1px #bbb !important;
}

button.btn-primary:focus{
    background-color: #EB5306 !important;
    border-color: #EB5306 !important;
    box-shadow: 0px 2px 1px #bbb !important;
}

button.btn-outline-primary, input.btn-outline-primary, a.btn-outline-primary{
    background-color: #ffffff;
    border-color: #FF6619;
    border-width: 3px;
    color: #FF6619;
    font-weight: bold;
}

button.btn-outline-primary:hover, input.btn-outline-primary:hover, a.btn-outline-primary:hover{
    color: #ffffff;
    background-color:#FF6619;
    border-color: #FF6619;
    text-decoration: none !important;
}

button.btn-outline-primary:focus, input.btn-outline-primary:focus, a.btn-outline-primary:focus{
    color: #ffffff;
    background-color:#FA5E10 !important;
    border-color: #FA5E10 !important;
    text-decoration: none !important;
    box-shadow: 0px 2px 1px #bbb !important;
}

button.btn-outline-primary:active, input.btn-outline-primary:active, a.btn-outline-primary:active{
    color: #ffffff;
    background-color:#FA5E10 !important;
    border-color: #FA5E10 !important;
    text-decoration: none !important;
    box-shadow: 0px 2px 1px #bbb !important;
}

h3.text-dark, label.text-dark, strong.text-dark{
    color: #4D4D4D !important;
}

.w-80{
    width: 80%;
}

.w-85{
    width: 85%;
}

.w-90{
    width: 90%;
}

.bg-left{
    background-color: #FF884D;
    min-height: 100vh;
    transform: skew(-4deg);
    left: -3%;
    border-radius: 0 0 100px 0;
}

label{
    font-weight: 600;
    font-size: 18px;
    color: #4D4D4D !important;
}

input.form-control{
    border-width: 0px;
    background-color: #F2F2F2;
}

input.form-control:focus{
    border-color: #FF9966;
    border-width: 2px;
    box-shadow: 0px 0px 0px;
    background-color: #F2F2F2;
}

a.text-primary{
    color: #FF6619 !important;
}

a.text-primary:active{
    color: #FF7733 !important;
}