@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,800,900&display=swap');

*{
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.5px;
}

body{
    /* Set padding left and right for iPhone X */
    padding-left: constant(safe-area-inset-left);
    padding-right: constant(safe-area-inset-right);
}

button.btn, input.btn, a.btn{
    /* Pill buttons */  
    border-radius: 100px;
}

button.btn-primary, input.btn, a.btn{
    color: #ffffff;
    background-color:#FF6619;
    border-width: 3px;
    border-color: #FF6619;
    font-weight: bold;
}

button.btn-outline-primary, input.btn-outline-primary, a.btn-outline-primary{
    background-color: #ffffff;
    border-color: #FF6619;
    border-width: 3px;
    color: #FF6619;
    font-weight: bold;
}

button.btn-outline-primary:hover, input.btn-outline-primary:hover, a.btn-outline-primary:hover{
    color: #ffffff;
    background-color:#FF6619;
    border-color: #FF6619;
    text-decoration: none;
}

h3.text-dark{
    color: #4D4D4D !important;
}

.w-80{
    width: 80%;
}

.w-85{
    width: 85%;
}

.w-90{
    width: 90%;
}